<div id="<%= dom_id reservation %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= reservation.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= reservation.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= reservation.phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= reservation.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Hotel:</strong>
    <%= reservation.hotel_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Arrival date:</strong>
    <%= reservation.arrival_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Departure date:</strong>
    <%= reservation.departure_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">No of rooms:</strong>
    <%= reservation.no_of_rooms %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this reservation", reservation, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this reservation', edit_reservation_path(reservation), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
